{% for conversation in conversations %}
    <li class="{% if conversationId == conversation.id %}active{% endif %} contact-li" chat-id="chat_{{ conversation.id }}" style="cursor: pointer">
        <div class="d-flex bd-highlight">
            <div class="img_cont">
                <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img">
                <span class="online_icon"></span>
            </div>
            <div class="user_info">
                {% if conversation.first_person == user %}
                    <span>{{ conversation.second_person.username }}</span>
                {% else %}
                    <span>{{ conversation.first_person.username }}</span>
                {% endif %}

            </div>
        </div>
    </li>
{% endfor %}