container_commands:
  01_install:
    command: "source /var/app/venv/*/bin/activate"

option_settings:
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/venv/staging-LQM1lest/bin"
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
    value: static/
  aws:elasticbeanstalk:container:python:
    WSGIPath: KrchChat.wsgi:application