container_commands:
  01_remove_default_apache_conf:
    command: "rm -f /etc/httpd/conf.d/*.conf"

  02_install_apache_conf:
    command: "cp .ebextensions/daphne.conf /etc/httpd/conf.d/daphne.conf"

  03_reload_apache:
    command: "sudo service httpd reload"

files:
  "/etc/httpd/conf.d/daphne.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      WSGIDaemonProcess daphne python-path=/var/app/current python-home=/var/app/venv
      WSGIProcessGroup daphne

      ProxyPass /ws ws://127.0.0.1:8001/ws retry=0
      ProxyPassReverse /ws ws://127.0.0.1:8001/ws retry=0