container_commands:
  00_django_install:
    command: "yum update -y && yum install -y python-devel postgresql-devel && amazon-linux-extras enable postgresql14 -y"
  02_install:
    command: "source /var/app/venv/*/bin/activate && pip install psycopg2 && pip install -r /var/app/current/requirements.txt"
  03_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python manage.py collectstatic --noinput"
  04_wsgipass:
    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: KrchChat.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: KrchChat.settings
    PYTHONPATH: /opt/python/current/app/KrchChat:$PYTHONPATH
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: KrchChat/static
  aws:elbv2:listener:80:
    DefaultProcess: http
    ListenerEnabled: 'true'
    Protocol: HTTP
    Rules: ws
  aws:elbv2:listenerrule:ws:
    PathPatterns: ws/*
    Process: websocket
    Priority: 1
  aws:elasticbeanstalk:environment:process:http:
    Port: '80'
    Protocol: HTTP
  aws:elasticbeanstalk:environment:process:websocket:
    Port: '5000'
    Protocol: HTTP