container_commands:
  00_django_install:
    command: "apt install -y libpq-dev python3-dev"
  01_install:
    command: "source /var/app/venv/*/bin/activate && pip install psycopg2-binary"

option_settings:
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
    value: static/

  aws:elasticbeanstalk:container:python:
    WSGIPath: KrchChat.wsgi:application