packages:
  yum:
    git: []

container_commands:
  00_django_install:
    command: "yum update -y && yum install -y python-devel postgresql-devel && amazon-linux-extras enable postgresql14 -y"
  01_install:
    command: "source /var/app/venv/*/bin/activate && pip install psycopg2 && pip install -r /var/app/current/requirements.txt"
  02_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python manage.py collectstatic --noinput"
  03_install_daphne:
    command: "source /var/app/venv/*/bin/activate && pip install daphne"
    leader_only: true
  04_create_systemd_unit:
    command: "echo -e '[Unit]
    Description=daphne daemon for Django Channels

    [Service]
    User=wsgi
    Group=wsgi
    WorkingDirectory=/var/app/current
    ExecStart=/var/app/venv/*/bin/daphne -b 127.0.0.1 -p 5000 KrchChat.asgi:application
    Restart=always
    KillSignal=SIGQUIT
    Type=notify
    StandardError=syslog
    NotifyAccess=all

    [Install]
    WantedBy=multi-user.target' > /etc/systemd/system/daphne.service && systemctl enable daphne && systemctl start daphne"
    leader_only: true

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: myproject.settings
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: KrchChat/static
  aws:elasticbeanstalk:container:python:
    WSGIPath: KrchChat.wsgi:application
  aws:elasticbeanstalk:environment:proxy:http:
    ProxyServer: apache

files:
  "/etc/httpd/conf.d/daphne.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      WSGIDaemonProcess daphne processes=2 threads=12 python-path=/var/app/current:/var/app/venv/*/lib/python3.8/site-packages
      WSGIProcessGroup daphne
      WSGIScriptAlias /socket /var/app/current/myproject/wsgi.py
      <Directory /var/app/current/KrchChat>
          <Files wsgi.py>
              Require all granted
          </Files>
      </Directory>
      ProxyPass /socket/ ws://127.0.0.1:5000/socket/
      ProxyPassReverse /socket/ ws://127.0.0.1:5000/socket/