container_commands:
  00_django_install:
    command: "yum update -y && yum install -y python-devel postgresql-devel && amazon-linux-extras enable postgresql14 -y"
  01_install:
    command: "source /var/app/venv/*/bin/activate && pip install psycopg2"
  02_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python manage.py collectstatic --noinput"

option_settings:
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: KrchChat/static
  aws:elasticbeanstalk:container:python:
    WSGIPath: KrchChat.wsgi:application

files:
  "/etc/httpd/conf.d/proxy.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      ProxyPass /ws/ ws://127.0.0.1:5000/ws/
      ProxyPassReverse /ws/ ws://127.0.0.1:5000/ws/
      #Uncomment below for Option 3
      #ProxyPass / http://127.0.0.1:5000/
      #ProxyPassReverse / http://127.0.0.1:5000/